<section class="title">
	<h1><%= @lesson.department.department_name %>
	<%= @lesson.lesson_name %></h1>
	<br>
	<h3>この科目の平均評価点は
	<%= @star_average %>/10点です。</h3>

</section>


<div id="favorite-link">
	<%= render "like", comments: @comments %>
</div>