<section class="title">
	<h1>学部一覧</h1>
</section>

<% @fuculties.each do |f| %>

<%= link_to fuculty_departments_path(f.id) do %>
<div class="fuculty__top">
		<%= f.fuculty_name %>
</div>
<% end %>

<% end %>
