<section class="title">
	<h1>新規投稿</h1>
	<h3>投稿したい学科を選んでください！</h3>
</section>


<% @departments.each do |f| %>


<%= link_to select_department_lessons_path(f.id) do %>
<div class="fuculty__top">
	<%= f.department_name %>
</div>
<% end %>


<% end %>