<section class="title">
	<h1>新規投稿</h1>
	<h3>投稿したい学科を選んでください！</h3>
</section>


<% @departments.each do |f| %>
<div class="fuculty__top">
	<%= link_to f.department_name, department_lessons_path(f.id) ,class: "fuculty_link" %>
</div>
<% end %>