<div class="field">
    <%= f.label :department_name, "学科の名前", class: "form__label" %>
    <%= f.text_field :department_name, class: "form__field" %>

    <%= link_to_remove_association '－', f %>
</div>
