<div class="field">
    <%= f.label :star, "10点満点の評価" %>
    <%= f.number_field :star %>
</div>

<div class="field">
    <%= f.label :professor, "教授の名前" %>
    <%= f.text_field :professor %>
</div>


