<section class="title">
	<h1>授業一覧</h1>
</section>

<div>
	<%= link_to "評価ランキングを見る", ranking_department_lessons_path(@department.id) %>
</div>




<% @lessons.each do |f| %>

<%= link_to lesson_comments_path(f.id) do %>
<div class="fuculty__top">
	<%= f.lesson_name %>
</div>
<% end %>



<% end %>